.List_Title_Edit {
    display: flex;
    align-items: center;
}

.List_Title_Edit ion-icon {
    cursor: pointer;
    padding: 2px;
    margin: 1px 3px;
    font-size: 23px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.5);
}

.List_Title_Edit ion-icon:hover {
    background: gray;
}

.List_Title_Textarea {
    margin: 6px 0 5px 6px;
    border-radius: 10px;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
    padding: 5px;
}

.List_Title_Textarea:focus {
    box-shadow: inset 0 0 0 2px green;
}